<!DOCTYPE html>

<html lang='en'>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            #pdf_viewer {
                width: 800px;
                height: 450px;
                overflow: auto;
                background: #333;
                text-align: center;
                border: solid 3px;
            }
        </style>
        <script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@2.2.228/build/pdf.min.js"></script>
    </head>
    <body>
        <p id=textBoxId></p>
        <p>I hate you</p>
        <form action='/compile' method="POST">
            <input type="text" name="Compile">
            <button type="submit" id='button_compile'>Compile</button>
        </form>
        <form action='/download' method="GET">
            <input type="text" name="Download">
            <button type="submit">Download</button>
        </form>
        <button id='button_check'>Yo</button>
        <div id='pdf_viewer'>
            <canvas id='pdf_renderer'></canvas>
        </div>
        <div id='pdf_navigation'>
            <button id="go_previous">Previous</button>
            <input id="current_page" value="1" type="number"/>
            <button id="go_next">Next</button>
        </div>
        <div id="pdf_zoom">
            <button id="zoom_in">+</button>
            <button id="zoom_out">-</button>
        </div>

        <script type="text/javascript">
            var myState = {
                pdf: null,
                currentPage: 1,
                zoom: 1
            }

            async function wait(ms) {
                return new Promise(resolve => {
                    setTimeout(resolve, ms);
                });
            }

            document.getElementById('button_compile').addEventListener('click', getPDF);

            async function getPDF() {
                await wait(5000)
                window.alert('hello2')
                console.log("Here we go!")
                pdfjsLib.getDocument('/compile/input.pdf').promise.then((pdf) => {
                    console.log("PDF loaded")
                    myState.pdf = pdf;
                    render();
                }, (reason) => {
                    console.error(reason)
                });
            }

            function render() {
                myState.pdf.getPage(myState.currentPage).then((page) => {
                    var canvas = document.getElementById("pdf_renderer");
                    var ctx = canvas.getContext('2d');

                    var viewport = page.getViewport(myState.zoom);

                    canvas.width = viewport.width;
                    canvas.height = viewport.height;

                    var renderTask = page.render({
                        canvasContext: ctx,
                        viewport: viewport
                    });
                    renderTask.promise.then(() => {
                        console.log("Page rendered")
                    })
                })
            }
        </script>
    </body>
</html>